@{
    ViewBag.Title = "Lista de Nomes";
}
<h2>Lista de Nomes</h2>
<div data-role="content">
    <ul data-role="listview">
        <li data-role="list-divider">A</li>
        <li><a href="javascript:;">Anderson Lopes</a></li>
        <li><a href="javascript:;">Ana Maria</a></li>
        <li data-role="list-divider">B</li>
        <li><a href="javascript:;">Bruno Souza</a></li>
        <li data-role="list-divider">C</li>
        <li><a href="javascript:;">Cleyton Ferrari</a></li>
        <li><a href="javascript:;">Cesar Augusto</a></li>
        <li><a href="javascript:;">Cassia Rodrigues</a></li>
    </ul>
</div>
